#voa_expanded_audit_control {
    width: 100%;
    overflow-x: auto;
}

#voa_expanded_audit_control--table-control-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.8rem;
}

#voa_expanded_audit_control--filter-control {
    display: flex;
    column-gap: 10px;
}

#voa_expanded_audit_control--refresh-control {
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.9;
}

.loading #voa_expanded_audit_control--refresh-control {
    cursor: default;
    opacity: 0.4;
}

.voa_audit_table_wrapper {
    position: relative;
    width: 100%;
}

.voa_audit_table {
    min-width: 769px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loading .voa_audit_table {
    opacity: 0.6;
}

.voa_loading_spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 1.8rem;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.voa_audit_table_cell,
.voa_audit_table_header_cell {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 4px 8px;
    text-align: left;
    vertical-align: top;
}
